name: Remediate After Deploy

on:
  workflow_run:
    workflows: ["Deploy Infra"]   # must match EXACT name of your deploy workflow
    types: [completed]

permissions:
  id-token: write
  contents: read
  

jobs:
  remediate:
    # Run only if Deploy Infra succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID || secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID || secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID || secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Fix line endings (CRLF -> LF)
        run: |
          sudo apt-get update -y
          sudo apt-get install -y dos2unix
          dos2unix infra/scripts/*.sh || true

      - name: Run baseline remediation (both)
        run: |
          set -euo pipefail
          chmod +x infra/scripts/*.sh

          SUBRID="${{ vars.TF_SUBSCRIPTION_RESOURCE_ID }}"
          echo "Using subscription: $SUBRID"

          infra/scripts/remediation_builtin.sh "$SUBRID"
          infra/scripts/remediate_owner_tag_via_logicapp.sh "$SUBRID"
          infra/scripts/remediation_diagnostic_storage.sh "$SUBRID" 